.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}


.dialogItems {
  padding: 10px;
}

.dialog{
  padding: 5px;
}

.dialogItems .active{
  color: darkslategray
}

.messages {
  padding: 5px;
}

.message {
  padding: 5px;
}